
#buttonBar {
    display: grid;
    height: fit-content;
    justify-content: center;

    gap: 22px;
}

#actionButtonRow {
    min-width: 800px !important;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    padding-bottom: 10vh;
}

#actionButtonRow button {
    min-width: 100px;
    height: 100px;
    font-size: 1.5em;
}

.hoverHolder {
    position: relative;
    display:block;
    
    display: grid;
    align-items: center;
    justify-content: center;
}

.hoverHolder .hoverBar {
    visibility: hidden;
    justify-self: center;

    position: absolute;
    bottom: 100%;
}

.hoverHolder:hover .hoverBar {
    visibility: visible;
}

.hoverBar {
    background-color: rgba(215, 241, 250, 0.28);
    outline: rgba(230, 253, 255, 0.298) solid 2px;
    border-radius: 10px;

    z-index: 100;
}
.hoverBar:hover {
    background-color: rgba(215, 241, 250, 0.57);
    outline: rgba(230, 253, 255, 0.56) solid 2px;
}

#oddsBar {
    width: fit-content;
    height: fit-content;

    display: flex;
}

#oddsBar button {
    min-width: 100px;
    height: 100px;
    font-size: 1.5em;
}

#oddsBar .material-symbols-outlined:nth-child(n+6){
    margin-left: -20px;
}

#oddsBar .material-symbols-outlined:nth-child(n):nth-child(-n+4){
    margin-right: -20px;
}

#diceBar {
    height: fit-content;
    width: 360px;
    padding: 10px;
}

#diceBar button {
    position: relative;
    width: 80px !important;
    height: 80px !important;
    margin: 0px !important;
    min-width: 80px !important;
}

#diceBar button svg {
    position: absolute;

    width: 80px;
    height: 50px !important;
    top:20%;
    left: 0; 
    right: 0; 
    font-size: 2em;
}

.diceSVGpath {
    fill: rgba(0, 0, 0, 0.828);
}

#fate-button {
    font-size: 2.5em !important;
    padding-bottom: 20px;
}