
.scrollCardHolder {
    --scroll-amount: 1;
    --scroll-speed: 250;
    --visible-sibling-count: 6;
    --active-card-index: calc(var(--scroll-amount)/var(--scroll-speed) - var(--visible-sibling-count)/2);

    position: relative;
    width: 500px;
    height: 300px;
}

.scrollCard {
    position: absolute;

    --sibling-index: 0;
    --cardPos: calc(var(--sibling-index) - var(--active-card-index));

    left: calc(var(--cardPos) * 150px - 500px);
    bottom: 0;
    --priority: calc(var(--visible-sibling-count)*var(--cardPos) - var(--cardPos)*var(--cardPos));
    z-index: var(--priority);

    --opacity: calc(var(--priority)/(0.25*var(--visible-sibling-count)*var(--visible-sibling-count)) + 0.2);
    opacity: var(--opacity);
}