:root {
    font-family: "Smokum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
}

#title {
    font-size: 40px;
    letter-spacing: 1.5px;
}

.centerDiv {
    position: fixed;
    z-index: 1;

    min-width: fit-content;
    width: 1000px;
    height: 500px;

    left: 50%;
    transform: translate(-50%, 0);
    top: 10%;

    border: 3px solid rgb(134, 97, 74);
    border-radius: 10px;
    padding: 20px;

    background-color: antiquewhite;
    text-align: center;
}

#backgroundDiv {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.HorseS {
    width: 30%;
}